<!DOCTYPE html>
    
    <!-- banner -->
    <div class="">
    <div class="cta-blue  jumbotron jumbotron-fluid" id="banner" style="background-image: url(img/banner-bk.jpg);">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-6" >
                        <img src="assets/img/logo2.png"  alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <a href="#" class="text-white lead">Get Early Access</a>
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	Start your exam<br>
                preparation with US!!!
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Lorem ipsum dolor sit amet, id nec enim autem oblique, ei dico mentitum duo.
                <br> Illum iusto laoreet his te. Lorem partiendo mel ex. Ad vitae admodum voluptatum per.
            </p>
            <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green" routerLink="/loginsignup">Get Started</a>
        </div>
    </div>
</div>

<!-- courses block -->
<div class="container my-5 py-2">
    <h2 class="text-center font-weight-bold my-5">Choice your fav course!!!</h2>
    <div class="row">
        <!-- data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"  -->
        <div class="col-md-4 jenish text-center">
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg" >
                    
                  </div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c1.jpg" alt="Phishing Detect" class="mx-auto">
                  <br>
                    JEE Mains Exam
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    <div><button class="s-button" routerLink="/course">Start Course</button></div>
                  </div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg" >
                    
                  </div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c2.avif" alt="Phishing Detect" class="mx-auto">
                    <br>
                    
                    NEET Exam
                  </div>
          
                  <div class="ag-courses-item_date-box">
                  <div><button class="s-button" routerLink="/course">Start Course</button></div></div>
                </a>
              </div>
        </div>
        <div  class="col-md-4 text-center jenish">
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c3.jpg" alt="Phishing Detect" class="mx-auto">
                    <br>
                    10th Boards Exam
                  </div>
          
                  
                  <div class="ag-courses-item_date-box">
                  <div><button class="s-button" routerLink="/course">Start Course</button></div></div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c4.jpg" alt="Phishing Detect" class="mx-auto">
                    <br>
                    12th Boards Exam
                  </div>
          
                  
                  <div class="ag-courses-item_date-box">
                  <div><button class="s-button" routerLink="/course">Start Course</button></div></div>
                </a>
              </div>
        </div>
        <div  class="col-md-4 text-center jenish">
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c5.jpg" alt="Phishing Detect" class="mx-auto">
                    <br>
                    Prepare Your
                    CAT Exam
                  </div>
          
                  
                  <div class="ag-courses-item_date-box">
                  <div><button class="s-button"routerLink="/course">Start Course</button></div></div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    <img src="assets/img/c6.jpg" alt="Phishing Detect" class="mx-auto">
                    <br>IAS Exam
                  </div>
          
                 
                  <div class="ag-courses-item_date-box">
                  <div><button class="s-button" routerLink="/course">Start Course</button></div></div>
                </a>
              </div>
        </div>
    </div>
    
</div>
<!-- courses block end -->

    <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Get the advantages </h2>
        <div class="row">
            <div  class="col-md-4 text-center jenish">
                <img src="assets/img/i1.jpg" alt="Anti-spam" class="mx-auto">
                <h4>Conceptual clarity <br> through visualization</h4>
                <p>Lorem ipsum dolor sit amet porro his no his delenit Lorem ipsum dolor i</p>
            </div>
            <div class="col-md-4 text-center jenish">
                <img src="assets/img/i2.png" alt="Phishing Detect" class="mx-auto">
                <h4>Personalised learning <br>
                    programs</h4>
                <p>Ne error antiopam usu. Sed vocen concludaturque vjhdwwuhf ybfdufhhhhhea</p>
            </div>
            <div  class="col-md-4 text-center jenish">
                <img src="assets/img/i3.jpg" alt="Smart Scan" class="mx-auto">
                <h4>Unmatched individual<br>
                    attention</h4>
                <p>Et usu ocurreret elaboraret doctus prodesse assuevnbasdaahuc8yghe8c ycberit.</p>
            </div>
        </div>
    </div>
    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Sart your personal Mentoring</h2>
                    <p class="my-4">Te iisque labitur eos, nec sale argumentum scribentur no,
                        <br> augue disputando in vim. Erat fugit sit at, ius lorem deserunt deterruisset no.</p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                    <img src="assets/img/i4 (1).png" alt="Take a look inside" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- feature (green background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-last">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">Track your own journey</h2>
                    <p class="my-4">
                        Duo suas detracto maiestatis ad, commodo lucilius invenire nec ad,
                        <br> eum et oratio disputationi. Falli lobortis his ad
                    </p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                    <img src="assets/img/feature-2.png" alt="Safe and reliable" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    <!-- price table
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3">Meet Our Top Faculty</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">STARTUP</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 5 Documents</li>
                    <li>Up to 3 Reviews</li>
                    <li>5 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">PREMIUM</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 15 Documents</li>
                    <li>Up to 10 Reviews</li>
                    <li>25 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Free</a>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Unlimited Documents</li>
                    <li>Unlimited Reviews</li>
                    <li>Unlimited Members</li>
                    <li>Unlimited Support</li>
                </ul>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
            </div>
        </div>
    </div> -->
<!-- 
    <div class="swiper myswipper container">
        <div class="swipper-wrapper content">
<div class="swipper-slide card">
    <div class="box-1">
    </div>
    <div class="card-content">
        <div class="image">
            <img src="assets/img/p1.jpg">
            <span style="margin: 10px;"></span>
        </div>
        <div class="media-icons">
            <i class="fa fa-facebook"></i>
            <span style="margin: 10px;"></span>
            <i class="fa fa-twitter"></i>
            <span style="margin: 10px;"></span>
            <i class="fa fa-github"></i>
        </div>
        <div class="name-profession">
            <span class="name">And</span>
            <span class="profession">Graphic designer</span>
        </div>
        <span style="margin: 5px;"></span>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <span style="margin: 5px;"></span>
        <div class="about">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.ur</p>
        </div>
        <div class="button b1">
            <button class="aboutMe">About Me</button>
            <button class="hireMe"> Hire Me</button>
        </div>
    </div>
</div>

        </div>

    </div> -->

    <div class="jumbotron jumbotron-fluid ">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/logo1.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</div>
    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(assets/img/contact-bk.jpg);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Contact Us</h2>
                    <p class="my-4">
                        Te iisque labitur eos, nec sale argumentum scribentur,
                        <br> augue disputando in vim. Erat fugit sit at, ius lorem.
                    </p>
                    <ul class="list-unstyled">
                        <li>Email : company_emailcom</li>
                        <li>Phone : 361-688-5824</li>
                        <li>Address : 4826 White Avenue, Corpus Christi, Texas</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form>
                    	<div class="row">
	                        <div class="form-group col-md-6">
	                            <label for="name">Your Name</label>
	                            <input type="name" class="form-control" id="name">
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label for="Email">Your Email</label>
	                            <input type="email" class="form-control" id="Email">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="message">Message</label>
	                        <textarea class="form-control" id="message" rows="3"></textarea>
	                    </div>
                        <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2018 Chen, Yi-Ya.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-medium" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    